<script type='text/javascript' src='https://c.amazon-adsystem.com/aax2/amzn_ads.js'></script>
<script type='text/javascript'>
    try {
        amznads.getAds('3231');
    } catch(e) {
      console.log(e);
    }
</script>

<script type='text/javascript'>
var key = 'amznslots';
var values = amznads.getTokens(); //comma separated tokens
// IMPORTANT: Pass key, values defined above as custom-targeting key-value pairs into your Ad-Server call.
</script>

<script type='text/javascript'>
  try {
    amznads.setTargetingForGPTAsync('amznslots');
  } catch(e) {
    console.log(e);
  }
</script>

