:javascript
  (function() {
    var docElement = document.documentElement,
        activePath = "#{normalised_asset_path('icons/active.css')}",
        criticalPath = "#{normalised_asset_path('icons/critical.css')}",
        script = document.getElementsByTagName("script")[0],
        head = script.parentNode;
    
    function insertStyleSheet(path) {
      var link = document.createElement("link");
      link.rel = "stylesheet";
      link.type = "text/css";
      link.href = path;
      // The browser will ignore unknow media attributes
      // https://github.com/filamentgroup/loadCSS
      link.media = "only sloths";
      head.insertBefore(link, script);

      setTimeout(function() {
        link.media = "all";
      });

    }
    
    function supportsSVG() {
      var hasBgSize = ("background-size" in docElement.style || "backgroundSize" in docElement.style),
          hasSvg = !!window.document.createElementNS && 
                   !!window.document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect && 
                   !!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image", "1.1") && 
                   !(window.opera && navigator.userAgent.indexOf('Chrome') === -1),
          enhanced = window.lp.enhanced;
      
      return hasBgSize && hasSvg && enhanced;
    }

    if (supportsSVG()) {
      insertStyleSheet(activePath);
      docElement.className += " supports-svg";
    } else {
      insertStyleSheet(criticalPath);
      docElement.className += " no-background-size";
    }

  }());

%noscript
  %link{href: "#{normalised_asset_path('icons/critical.css')}", rel: "stylesheet"}
