<script class="kxct" data-id="JQiEA_VL" data-timing="async" data-version="1.9">
window.Krux||((Krux=function(){Krux.q.push(arguments)}).q=[]);
(function(d,l,c,k,m,s,r){
  (k=d.createElement(c)).async=true;
  r=(m=l.href.match(/\bkxsrc=([^&]+)/))&&decodeURIComponent(m[1]);
  k.src=/^https?:\/\/([\w.-]+\.)?krxd\.net(:\d{1,5})?\//i.test(r)?r:r=="disable"?"":
    "http"+(l.protocol[5]==":"?"s":"")+"://cdn.krxd.net/controltag?confid=JQiEA_VL";
  s=d.getElementsByTagName(c)[0];s.parentNode.insertBefore(k,s);
}(document,location,'script'))
</script>
