-# Allow passing in of lp.require.paths and lp.require.shims
= yield :app_require_config

:javascript
  var require = require || {
    baseUrl: '/assets',
    paths: {
      flamsteed: "flamsteed/lib/javascripts/flamsteed",
      hogan: "hogan/dist/hogan-3.0.0.amd",
      jplugs: "jquery-plugins",
      jquery:  "jquery/dist/jquery",
      jtimeago: "jquery-timeago/jquery.timeago",
      sailthru: "sailthru/v1",
      sCode: "omniture/s_code",
      trackjs: "trackjs/trackjs",
      dfp: "jquery.dfp.js/jquery.dfp",
      autocomplete: "autocomplete/dist/autocomplete",
      d3: "d3/d3",
      nvd3: "nvd3/nv.d3",
      usabilla: "usabilla/usabilla"
    },
    shim: {},
    waitSeconds: 30
  };

  if (lp.require && lp.require.paths) {
    for (path in lp.require.paths) {
      require.paths[path] = lp.require.paths[path];
    }
  }

  if (lp.require && lp.require.shim) {
    for (shim in lp.require.shim) {
      require.shim[shim] = lp.require.shim[shim];
    }
  }
