-# Don't use this component directly
-# See: rizzo.lonelyplanet.com/styleguide/buttons
%a{href: properties[:href], class: "btn btn--#{properties[:type]} #{properties[:modifiers]}"} #{properties[:text]}
