#js-lightbox.lightbox
  .lightbox__wrapper.js-lightbox-wrapper
    .lightbox__content
      .lightbox__close.icon--cross.js-lightbox-close
      .js-lightbox-content

  .lightbox__controls-wrapper
    .lightbox__controls.js-lightbox-controls

      %a.js-lightbox-arrow.js-lightbox-previous.arrow--left.is-hidden.icon--chevron-left--after.icon--white--after
        %span.tooltip--container.tooltip--hover
          %span.lightbox-arrow__text.tooltip.tooltip--above.icon--tapered-arrow-down--after

      %a.js-lightbox-arrow.js-lightbox-next.arrow--right.is-hidden.icon--chevron-right--before.icon--white--before
        %span.tooltip--container.tooltip--hover
          %span.lightbox-arrow__text.tooltip.tooltip--above.icon--tapered-arrow-down--after
