.pop-block
  display: inline-block
  vertical-align: top
  width: 32px

.pop-block__segment
  height: 33px
  opacity: 0.9
  position: relative
  width: 32px
  &:before
    background: rgba($lightgray, 0.1)
    border-left: 1px solid rgba($lightgray, 0.2)
    content: ""
    display: inline-block
    height: 33px
    text-align: center
    width: 1px
  .pop-block--1 &
    border-radius: 4px 0 0 4px
    &:before
      display: none
  .pop-block--last &
    border-radius: 0 4px 4px 0

@for $i from 1 through length($color-palette-names)
  $color: nth($color-palette-names, $i)
  .pop-block__segment--#{$color}
    background: #{nth($color-palette, $i)}

.pop-block__label
  +font-size(13)
  color: $lightgray
  font-weight: bold
  text-align: center
