.button {
  background-color: $button-background;
  color: #FFF;
  display: inline-block;
  text-transform: uppercase;
  font: {
    weight: $semibold;
    size: 13px;
  }
  padding: 11px 22px;
  border-radius: 29px;
  cursor: pointer;
}
