$base-font-size: 14 !default;

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin font-size($sizeValue: 14) {
  $value: strip-unit($sizeValue);
  font-size: #{$value + px};
  font-size: #{($value / $base-font-size) + rem};
}

@mixin respond-to($screen-width) {
  @media only screen and (min-width : $screen-width+ 0px) {
    @content;
  }
}

@mixin best-fit-padding($imageWidth, $imageHeight) {
  $ratioPercentage: ($imageHeight / $imageWidth) * 100;
  padding-bottom: #{$ratioPercentage + %};
}
