// -----------------------------------------------------------------------------
// Reveals the identities of criminals from low resolution images of reflections
// -----------------------------------------------------------------------------
.enhanced

  .card
    @extend %standard-shadow

  .card--tall

    &.card--standard

      .card__content
        &:after
          @extend %empty-abs-generated-content
          left: 0
          bottom: 0
          width: 100%
          height: 40px
          background: linear-gradient(top, transparent, #FFF 75%)

    &.card--has-img

      &.card--cover

        .card__figure
          &:after
            @extend %empty-abs-generated-content
            left: 0
            bottom: 0
            width: 100%
            height: 75%
            background: linear-gradient(top, transparent, rgba(44, 54, 67, .75) 100%)

      &.card--shop

        .card__figure__img
          box-shadow: 0 10px 10px rgba(0, 0, 0, .65), 0 15px 15px rgba(0, 0, 0, .15)

  .card--short

    &.card--no-img

      .card__content
        &:after
          @extend %empty-abs-generated-content
          left: 0
          bottom: 0
          width: 100%
          height: 40px
          background: linear-gradient(top, transparent, #FFF 75%)

    &.card--has-img

      .card__figure
        &:after
          @extend %empty-abs-generated-content
          left: 0
          bottom: 0
          width: 100%
          height: 75%
          background: linear-gradient(top, transparent, rgba(44, 54, 67, .75) 100%)
