$card-width: 220px
$card-margin: 10px
$card-height: 270px

@mixin card-dimensions($span, $width: $card-width, $height: $card-height, $margin: $card-margin)
  $width: ($width * $span) + ($margin * ($span - 1))
  $ratio: (1 / $width) * $height

  width: $width + 0px
  padding-top: percentage($ratio)

.card
  @extend %rounded-corners
  margin: 0 0 $card-margin
  position: relative
  background: #FFF

  .enhanced &
    @extend %standard-shadow

.card__mask
  @extend %rounded-corners
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden

.card__figure
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.card__figure__img
  position: absolute
  height: 100%

.card__content
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  padding: 10px 15px 30px
  border-top: 2px solid
  color: $body-copy

.card__meta
  +font-size(13)
  position: absolute
  left: 0
  right: 0
  bottom: 0
  height: 30px
  padding: 0 15px
  color: $feature-copy

.card__meta__icon,
.card__meta__avatar
  display: inline-block
  margin-right: .25em
  vertical-align: middle
  border-radius: 50%

.card__meta__icon
  +size(14px)
  +icon-color(white)

  // Fake padding around the icon
  border: 3px solid
  background-size: 15px

.card__meta__avatar
  +size(20px)

.card__meta__author
  font-weight: bold

.card__title
  +font-size(18)
  margin-bottom: 10px

.card__desc
  +font-size(15px)
  line-height: 1.3
  color: $feature-copy

// -----------------------------------------------------------------------------
// Width variations
// -----------------------------------------------------------------------------

.card--single
  +card-dimensions(1)

.card--double
  +card-dimensions(2)

// -----------------------------------------------------------------------------
// Height variations
// -----------------------------------------------------------------------------

.card--tall

  &.card--has-img

    .card__content
      top: auto

    .card__desc
      display: none

    // Standard card
    &.card--standard

      .card__meta,
      .card__content
        background: #FFF

      .card__content
        height: 75px
        transition: height .2s ease-out

      &:hover
        .card__content
          height: 100px

      &.card--has-meta
        .card__content
          height: 45px
          bottom: 30px

        &:hover
          .card__content
            height: 70px

    // Cover image card
    &.card--cover

      .card__meta,
      .card__content
        color: #FFF

      .card__content
        border-top: 0

      .card__title
        +font-size(24)

      &.card--double

        .card__figure__img
          width: 100%
          height: auto

        .card__title
          +font-size(32)

  &.card--no-img

    .card__content
      padding-top: 15px

.card--short
  // Short cards are always a single width
  +card-dimensions($span: 1, $height: 195px)

  &.card--has-img

    // Short cards with an image should always act
    // as a cover image whether told to or not.
    .card__figure__img
      width: 100%
      height: auto

    .card__meta,
    .card__content
      color: #FFF

    .card__content
      top: auto
      border-top: 0

    .card__title
      +font-size(24)

    .card__desc
      display: none
