.widget__promo.context--content

  %h2.copy--h1
    = properties[:title]
    %span.copy--feature
      = properties[:description]

  .nav--inline
    - 3.times do
      .nav__item
        = ui_component("ads/mpu")

