.nav__item.nav__item--user.nav__submenu__trigger.js-user-signed-in
  %img.nav__item--user-avatar.js-user-avatar{ data: { src: "{{avatar}}"} }
  %span.notification-badge.notification-badge--unread-messages.wv--inline-block.is-hidden.js-unread-feed-count 0
  %span.wv--hidden.nav--offscreen__title {{username}}

  .user-feed.nav__submenu.js-user-feed
    .user-feed__container.nav--stacked.nav__submenu__content.icon--tapered-arrow-up--after.icon--white--after.icon--white--bordered
      .user-feed__header.js-user-feed-header
        .user-feed__username {{username}}
        .user-feed__email {{email}}
        .user-feed__buttons
          %a.split--right.icon--settings.icon--body-grey.js-user-settings{ href: "https://www.lonelyplanet.com/thorntree/forums/settings"}

          .grid-wrapper--10

            .col--one-half
              %a.btn.btn--small.btn--full-width.js-user-profile{ href: "https://www.lonelyplanet.com/thorntree/profiles/{{profileSlug}}"} View Profile
            
            .col--one-half
              %a.btn.btn--small.btn--subtle.btn--full-width.js-user-sign_out{ href: "https://auth.lonelyplanet.com/users/sign_out"} Sign Out

      .user-feed__content.js-user-feed-content
        .nav__tabs
          .grid-wrapper--0
            .col--one-half
              %a.btn.btn--white.nav__tabs__btn.js-tab-trigger.is-active{ href: "#js-user-feed-activities-list"}
                Recent activity
                %span.user-feed__content__unread-count.js-unread-activities-count
              
            .col--one-half
              %a.btn.btn--white.nav__tabs__btn.js-tab-trigger{ href: "#js-user-feed-messages-list"}
                Messages
                %span.user-feed__content__unread-count.js-unread-messages-count

        .nav__tabs__content.js-tabs-content
          %ul.user-feed__list.is-active#js-user-feed-activities-list
            %li.activity-list__item--empty You have no recent activity.

          %ul.user-feed__list#js-user-feed-messages-list
            %li.activity-list__item--empty You have no private messages.

            %li.user-feed__footer.user-feed__buttons.js-user-feed-footer.is-hidden
              %a.btn.btn--full-width{ href: "https://www.lonelyplanet.com/thorntree/profiles/{{profileSlug}}/messages"} See all messages
            

.wv--nav--inline.nav__item--user-menu.js-user-signed-in
  - user_navigation_items[:signed_in_links].each do |item|
    = render "components/navigation/nav_item", item: item, active: false, primary: true
