%script#tmpl-nav-item{ type: 'text-mustache' }  
  = render "components/navigation/nav_item", active: false, submenu_item: true, item: { analytics: "{{analytics}}", slug: '{{slug}}', image_url: '{{image_url}}', title: '{{title}}', extra_class: '{{extra_class}}' }  
