// ----------------------------------------------------------------------------
//
// Flyout Sub-Menus
//
// ----------------------------------------------------------------------------

// Variables - to make the below calculations more obvious
$submenu--width:         200px
$submenu__padding--horizontal: 10px
$submenu__padding: 20px $submenu__padding--horizontal 10px
$submenu__padding__item: 12px
$submenu__left-offset: -(($submenu--width/2) + $submenu__padding--horizontal)
$submenu__vertical-padding: 14px

.nav__submenu__trigger
  cursor: pointer
  position: relative
  &:hover
    .nav__submenu
      display: block
  > .nav__item
    display: block

  .responsive &
    &:hover
      .nav__submenu
        display: none
        +respond-to(wide-view)
          display: block

    &.is-visible
      .nav__submenu
        display: block

.nav__submenu__trigger--icon
  +size(15px)
  margin-top: 14px
  float: right
  &.icon--chevron-up
    display: none

// padding around the submenu gives the submenu flyout more area to hover over
.nav__submenu
  +z-layer(middle)
  position: absolute
  display: none
  width: $submenu--width
  padding: $submenu__padding
  // Centralise the submenu relative to its parent
  left: 50%
  top: 54%
  margin-left: $submenu__left-offset

  .responsive &
    margin-left: 0
    padding: 0
    position: static
    width: auto
    +respond-to(wide-view)
      position: absolute
      padding: $submenu__padding
      margin-left: $submenu__left-offset
      width: $submenu--width

.nav__submenu__content
  +css-arrow-central(top, $size: 30px)
  @extend %transition--base
  @extend %fly-out-shadow
  @extend %rounded-corners
  background-color: white
  position: relative
  &:after
    position: absolute
    filter: drop-shadow(0px -1px 0px rgba(0, 0, 0, 0.2))

  .responsive &
    box-shadow: none
    &:after
      display: none
    +respond-to(wide-view)
      // We can't use `@extend %fly-out-shadow` within a mixin, thus:
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4)
      &:after
        display: block

.nav__submenu__item
  color: $body-copy
  font-weight: normal
  padding: $submenu__padding__item
  text-transform: none
  border-bottom: 1px solid $subduedgray
  &:hover
    background-color: $body-background-offset
  .responsive &
    padding: $submenu__vertical-padding 20px
    text-transform: uppercase
    background-color: $responsive-nav-subnav-bg
    &:hover
      color: $lpblue

    +respond-to(wide-view)
      background-color: transparent
      padding: $submenu__padding__item
      text-transform: none
      &:hover
        background-color: $body-background-offset
        color: $body-copy

.nav__submenu__title
  +font-size(16)
  font-weight: bold
  cursor: default
  &:hover
    background-color: transparent
