// ----------------------------------------------------------------------------
//
// Row secondary
//
// ----------------------------------------------------------------------------

.row--secondary
  background: #fff
  .responsive &
    +z-layer(modal)
    position: relative
    +respond-to(wide-view)
      background: #fff
      position: static

.row__inner--secondary
  padding-top: 28px
  .responsive &
    padding-top: 0
    +respond-to(wide-view)
      width: $fixed-layout-width
      margin: 0 auto
      padding-top: 28px

.row__title--secondary
  +z-layer(middle)
  +vertically-center(30)
  max-width: 340px
  position: absolute
  background: white
  margin-top: 0
  &:hover
    max-width: none
  .responsive &
    position: static
    max-width: 100%
    line-height: 1
    height: auto
    +respond-to(wide-view)
      +vertically-center(30)
      position: absolute
      max-width: 340px

// ----------------------------------------------------------------------------
//
// Secondary Navigation
//
// ----------------------------------------------------------------------------

.nav--secondary__container
  position: relative
  clear: left

.nav--secondary
  @extend %subpixel-text

  .responsive &

    &.is-active
      // TODO: Align with footer accordion
      @extend %standard-shadow
      display: block

    +respond-to(wide-view)
      .enhanced &.is-active
        box-shadow: none

// TODO: Align with footer accordion
.nav__submenu__trigger--responsive
  width: 30px
  height: 44px
  position: absolute
  top: 0
  right: 0
  padding-right: 20px
  display: none
  .responsive &
    .js &
      display: block

    &.is-visible
      .icon--chevron-up
        display: block
      .icon--chevron-down
        display: none

    &:after
      background: $body-background
      content: ''
      display: block
      height: 70%
      position: absolute
      left: 0
      top: 15%
      width: 1px

.nav--secondary__col
  padding: 10px 0
  text-align: left
  line-height: 1

.responsive
  .nav--secondary__other-toggle
    +font-size(13)
    color: $lightgray
    display: block
    font-weight: bold
    text-align: right
    text-transform: uppercase
    padding-bottom: 11px
    padding-right: 20px
    &:hover
      text-decoration: none
      background-color: $responsive-nav-hover
    &.is-active
      .icon--chevron-up
        display: inline-block
      .icon--chevron-down
        display: none

  .nav--secondary__other-toggle--icon
    +size(13px)
    display: inline-block
    position: relative
    top: -1px
    left: 2px
    vertical-align: top
    &.icon--chevron-up
      display: none

.nav__item--secondary
  +font-size(14)
  box-sizing: border-box
  letter-spacing: 0.02em
  margin: 0 8px
  padding: 6px 0 12px
  text-transform: uppercase
  color: $titlegray

  &:active, &:hover,
  &.nav__submenu__trigger:hover
    color: $titlegray
    +respond-to(wide-view)
      color: $lpblue

  &.is-current
    color: $lpblue
    border-bottom: 2px solid $lpblue
    font-weight: bold

  .responsive &
    border-bottom: 1px solid $body-background
    margin: 0
    padding: 14px 20px
    width: 100%
    &:hover
      background-color: $responsive-nav-hover

    +respond-to(wide-view)
      border-bottom: none
      margin: 0 8px
      padding: 6px 0 12px
      width: auto
      &:hover
        background-color: transparent
      &.is-current
        border-bottom: 2px solid $lpblue

.nav--secondary__title
  +font-size(14)
  margin-left: 20px
  +respond-to(wide-view)
    margin-left: 0
