= render 'styleguide/partials/shared'

.card.styleguide-intro.copy--body.context--content
  .clearfix
    %h1.split--left.copy--h1 Travel insurance widget

= ui_component("widgets/travel_insurance", properties: { show_sponsor: true, show_subheading: true })
