// -----------------------------------------------------------------------------
// Base card object and sizing variables
//
// - Width of a Card defaults to single - override when necessary
// -----------------------------------------------------------------------------

$card-width: 192px
$card-height: 380px
$card-gutter: 10px
$card-footer-height: 35px
$card-content-height: 165px
$card-content-padding: 15px
$card-content-hover-growth: 80px
$card-double-width: ($card-width * 2) + $card-gutter
$card-double-height: ($card-height * 2) + $card-gutter
$card-short-height: $card-height - $card-content-height - ($card-content-padding * 2)

// Stubby cards are limited to responsive stacks ATM.
// There will be no triple width or double height cards in future.
$card-stubby-width: 220px
$card-stubby-height: 280px
$card-stubby-content-height: 90px
