// -----------------------------------------------------------------------------
// Base card object and sizing variables
//
// - Width of a Card defaults to single - override when necessary
// -----------------------------------------------------------------------------

$card-grid-height:                  380px
$card-grid-half-height:             185px

$standard-card-image-height:        275px
$small-card-image-height:           185px

$default-card-top-padding:          55px
$image-only-padding:                7px

$card-content-vertical-padding:     13px
$card-content-horizontal-padding:   15px


// Cards v2
$card-width: 192px
$card-height: 380px
$card-margin: 10px
$card-footer-height: 35px
$card-content-height: 140px
$card-content-padding: 15px 15px 40px
$card-content-hover-growth: 50px
$card-double-height: ($card-height * 2) + $card-margin
$card-short-height: $card-height - $card-content-height - nth($card-content-padding, 1) - nth($card-content-padding, 3)
