.segment-graph
  - properties.each_with_index do |segment, index|
    - index += 1
    .segment-graph-item{class: "segment-graph-item--#{index} #{index == properties.length ? 'segment-graph-item--last' : ''}"}>
      .segment-graph__segment{class: "segment-graph__segment--#{segment[:modifier]}"}
      .segment-graph__label.copy--caption
        = segment[:label]
