// -----------------------------------------------------------------------------
// Hidden text cards
// -----------------------------------------------------------------------------

.card--hidden-text

  .card__meta,
  .card__content
    @extend %visually-hide

// -----------------------------------------------------------------------------
// Guide book cards
// -----------------------------------------------------------------------------

.card--guide

  &.card--has-img

    .card__figure
      bottom: 110px
      height: auto
      background: image_url("cards/guide-background.jpg") no-repeat
      background-size: cover

    .card__figure__img
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      width: auto
      height: 60%
      margin: auto

    .card__content
      border-top: 0

  .card__meta__icon
    border-color: $darkcyan
    background-color: $darkcyan

// -----------------------------------------------------------------------------
// Quote cards
// -----------------------------------------------------------------------------

.card--quote

  .card__figure
    display: none

  .card__content
    border-top: 0

  .card__content__title
    @extend %visually-hide

  .card__content__desc
    +font-size(20)
    padding: 10px

    // left/right quote marks
    &:before
      content: "\201C"
      margin: 0 -.15em 0 -.5em
    &:after
      content: "\201D"
      margin-left: -.15em

// -----------------------------------------------------------------------------
// POI types
// -----------------------------------------------------------------------------

@for $i from 1 through length($poi-names)

  $kind: nth($poi-names, $i)
  $color: nth($poi-colors, $i)

  .card--#{$kind}

    .card__content
      border-top-color: $color

    .card__meta__icon
      color: #FFF
      border-color: $color
      background-color: $color

// -----------------------------------------------------------------------------
// Legacy compatibility
// -----------------------------------------------------------------------------

@import "../cards_v1/_card_page"
@import "../cards_v1/_card_layer"
@import "../cards_v1/_card_sponsored"
