// -----------------------------------------------------------------------------
//
// Styles for the autocomplete js component.
//
// -----------------------------------------------------------------------------

.autocomplete
  +z-layer(middle)
  position: absolute
  display: block
  cursor: pointer
  width: 100%
  padding: 10px 0
  left: 0
  top: 81%

.autocomplete__results
  +css-arrow-central(top, $size: 30px)
  @extend %transition--base
  @extend %fly-out-shadow
  @extend %rounded-corners
  position: relative
  padding: 10px 0
  background-color: white
  border-top: 1px solid rgba(0, 0, 0, 0.05)
  &:after
    position: absolute

.autocomplete__results__item
  float: none
  padding: 10px
  color: $body-copy
  text-align: left
  text-transform: none
  font-weight: normal
  border-top: 1px solid $body-background-offset
  &:hover
    background-color: $body-background-offset
  &:last-child
    border-bottom: 1px solid $body-background-offset

.autocomplete__results__item--user-avatar
  padding-left: 45px
  background-repeat: no-repeat
  background-size: auto 100%

.autocomplete__results__item:hover,
.autocomplete__results__item--highlight
  background-color: $body-background-offset
  border-color: $body-background-offset

.autocomplete__search-term--highlight
  font-weight: bold
