.read-more
  @extend %transition--slower
  overflow: hidden
  position: relative
  max-height: 0

  .no-js &
    max-height: none
  .is-open &
    padding-bottom: 32px

.read-more-block
  padding-bottom: 32px

  .btn
    min-height: 0

.read-more-inline

  .btn
    +font-size(14)
    position: absolute
    bottom: 0
    right: 0
    border: 0
    padding: 0 10px
    line-height: 31px
    background-color: white
    color: $header-blue
    box-shadow: 0 0 10px 5px white

.read-more__handler
  position: absolute
  bottom: 0
  height: 70px
  width: 100%
  overflow: auto
  pointer-events: none

  .btn--clear
    position: absolute
    bottom: 0
    pointer-events: all

  .is-closed &
    background: #fff
    .enhanced &
      background: linear-gradient(to top, #fff, #fff 50%, rgba(255,255,255, 0) 100%)

  .is-open &
    background: transparent
