:ruby

  attrs = {
    size: { mapping: "mpu" },
    targeting: { position: nil },
    extension: nil
  }

  attrs.merge!(properties) if defined? properties

  attrs[:targeting] = attrs[:targeting].to_json

  properties[:attrs] = attrs

.adunit.adunit--mpu{ data: properties[:attrs] }
