.card__footer

  - if properties[:author_name]
    = ui_component("user_attribution", properties: { image: properties[:author_avatar], name: properties[:author_name], size: "nano" })

  - if card_ab_test_show_tag(properties, ab_variation)
    .card__footer__reviewed.copy--icon--before.icon--tick--before
      Reviewed

  - if properties[:context_locale]
    .card__footer__locale.copy--icon--before.icon--place--pin--line--before<>
      = properties[:context_locale]
