.card__footer

  - if properties[:author_name]
    = ui_component("user_attribution", :properties => { image: properties[:author_avatar], name: properties[:author_name], size: "nano" })

  - elsif properties[:context_locale]
    .card__footer__locale.copy--icon--before.icon--place--pin--line--before<>
      = properties[:context_locale]
